/*general*/
.wraper {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 35px;
}
a {
    color: #2da8dc;
}
/*header*/
.logo a {
    display: inline-block;
    background: url(../img/logo.png) no-repeat center;
    width: 122px;
    height: 34px;
    text-indent: -9999px;
}
.logo {
    display: inline-block;
    padding-left: 150px;
}
.phone {
    font-size: 17px;
    display: inline-block;
    float: right;
    padding-right: 150px;
}
.phone:before {
    content: "";
    background: url(../img/phone.png) no-repeat;
    display: inline-block;
    width: 18px;
    height: 28px;
    vertical-align: text-bottom;
    padding-right: 10px;
}
.nav {
    background-color: #eee;
    margin-top: 35px;
    padding: 0 150px;
}
.nav li {
    display: inline-block;
}
.nav li:not(:last-child) {
    display: inline-block;
    padding: 15px 144px 15px 0;
}
.nav a {
    font-family: Arial;
    color: #2b2b2b;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
}
.nav a:hover {
    text-decoration: underline;
}
.bread-crumbs {
    padding: 15px 150px 0;
}
.bread-crumbs li {
    display: inline-block;
}
.bread-crumbs a {
    font-family: Arial;
    color: #2b2b2b;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
}
.bread-crumbs li:not(:last-child) a {
    text-decoration: underline;
    padding-right: 5px;
}
.bread-crumbs li:not(:first-child) {
    margin-left: 15px;
}
.bread-crumbs li:not(:last-child) a {
    text-decoration: underline;
}
.bread-crumbs li:not(:last-child) a:hover {
    text-decoration: none;
}
.bread-crumbs li:last-child a:hover {
    text-decoration: underline;
}
.bread-crumbs li:not(:last-child):after {
    content: ">";
}
/*content*/
.content {
    padding: 0 150px ;
    margin-bottom: 20px;
}
.content-primary {
    margin-right: 225px;
    overflow: hidden;
}
.bar {
    float: right;
    width: 225px;
}
.section-h1 img {
    width: 696px;
    height: 379px;
    margin: 18px 0 15px;
}
.section-category li:before {
    content: "";
    display: inline-block;
    background-color: #000;
    margin-right: 15px;
    width: 17px;
    height: 2px;
    margin-bottom: 4px;
}
.section-category a:hover {
    text-decoration: none;
}
.section-h1 h1 {
    font-family: Tahoma;
color:  #191919;
font-size: 28px;
margin: 40px 0 32px;
font-weight: 400;
line-height: 22px;
}
.content-primary p {
font-family: Tahoma;
color:  #262626;
font-size: 12px;
font-weight: 400;
line-height: 18px;
}
.section-h3 {
    border-bottom: 1px dotted;
    padding-bottom: 29px;
}
.section-h3 h3 {
    color:  #191919;
font-size: 18px;
font-weight: 400;
line-height: 22px;
margin: 44px 0 22px;

}
.section-category {
    font-family: Tahoma;
margin-top: 28px;
color:  #2da8dc;
font-size: 12px;
font-weight: 400;
line-height: 22px;
}
.section-category li:not(:first-child) {
margin-top: 17px;
}
.section-h4 {
    border-bottom: 1px dotted;
    padding-bottom: 27px;
}
.section-h4 h4 {
    font-family: Tahoma;
    color:  #434343;
font-size: 12px;
font-weight: 400;
line-height: 22px;
margin: 30px 0 0px;
}
.section-h4 p {
    font-family: Tahoma;
color:  #262626;
font-size: 12px;
font-weight: 400;
line-height: 18px;
margin-top: 25px;
}
.section-h4 img {
    width: 215px;
    height: 194px;
}
.section-h4-img:nth-of-type(3n+2) {
    margin: 16px 20px 0;
}
.section-h4-img {
    margin-top: 16px;
}
.section-h4-category {
    padding-left: 20px;
}
.section-h4-category li {
    font-family: Tahoma;
color:  #262626;
font-size: 12px;
font-weight: 400;
line-height: 22px;
margin-top: 17px;
}
.section-table {
    border-bottom: 1px dotted;
}
.table-name {
    margin: 30px 0; 
    font-family: Tahoma;
color:  #434343;
font-size: 12px;
font-weight: 400;
line-height: 22px;
}
.section-table td {
    padding: 14px 15px;
}
/*content-tabs*/
#tab2 {
    position: fixed;
}

.menu1 > a ,
.menu1 #tab2:target ~ a:nth-of-type(1) ,
.menu1 > div {
    padding: 5px;
    border: 1px solid #aaa;
}

.menu1 > a {
    line-height: 28px;
    background: #fff;
    text-decoration: none;
}

#tab2 ,
.menu1 > div ,
.menu1 #tab2:target ~ div:nth-of-type(1) {
    display: none;
}

.menu1 > div:nth-of-type(1) ,
.menu1 #tab2:target ~ div:nth-of-type(2) {
    display: block;
}

.menu1 > a:nth-of-type(1) ,
.menu1 #tab2:target ~ a:nth-of-type(2) {
    border-bottom: 2px solid #fff;
}

/*content-tabs in js*/
ul#Tabs {
    font-family: Verdana, Arial;
    font-size: 12px;
    font-weight: bold;
    list-style-type: none;
    padding-bottom: 28px;
    border-bottom: 1px solid #a2b6cb;
    margin-bottom: 12px;
}
#Tabs li.Tab {
    float: right;
    height: 25px;
    background-color: #deedfb;
    margin: 2px 0 0 5px;
    border: 1px solid #a2b6cb;
}

#Tabs li.Tab a {
    float: left;
    display: block;
    color: #666;
    text-decoration: none;
    padding: 5px;
}
#Tabs li.Tab a:hover {
    background-color: #bfe0fe;
    border-bottom: 1px solid #bfe0fe;
}

#Tabs li.SelectedTab {
    float: right;
    height: 25px;
    background-color: #fafafa;
    margin: 2px 0 0 5px;
    border-top: 1px solid #a2b6cb;
    border-right: 1px solid #a2b6cb;
    border-bottom: 1px solid #fafafa;
    border-left: 1px solid #a2b6cb;
}
#Tabs li.SelectedTab a {
    float: left;
    display: block;
    color: #666;
    text-decoration: none;
    padding: 5px;
    cursor: default;
}
/*search*/
.search {
    width: 300px; 
    border: 1px solid #000; 
    min-height: 20px; 
}
.search input[type="search"] {
    border: none; 
    outline: none; 
    -webkit-appearance: none; 
    width: 274px; 
    vertical-align: middle; 
}
.search input[type="submit"] {
    width: 20px; 
    height: 20px; 
    border: none; 
    background: url(../img/search.png) no-repeat 50% 50%; 
}
/*footer*/
.footer {
    padding: 0 150px ;
    margin-bottom: 20px;
}
.footer-wraper {
    padding: 30px 0;
    border-top: 1px dotted;
    border-bottom: 1px dashed;
}
.social-network {
    float: right;
    margin-top: -10px;
}
.social-network li {
    display: inline-block;
}
.skype a {
    background: url(../img/skype.png) no-repeat;
    display: inline-block;
    width: 31px;
    height: 31px;
}
.fb a {
    background: url(../img/fb.png) no-repeat;
    display: inline-block;
    width: 31px;
    height: 31px;
}
.twitter a {
    background: url(../img/twitter125.png) no-repeat;
    display: inline-block;
    width: 31px;
    height: 31px;
}
.social-network a:hover {
    transform: scale(1.3);
}