<div class="jump-block">
	<div id="output"></div>
	<div class="container">
		<div class="dino-start">
			<div class="dino-start-img bounceInRight an">
				<img src="img/dino-preload.png" alt="">
			</div>
			<div class="dino-start-bm">
				<div class="firs-text an slideInUp">
					<h3>Some First - Text</h3>
				</div>
				<div class="second-text js-hide">
					<div class="second-text-an an">
						<h3>Then Second - Text</h3>
						<p>Some paragraph text</p>
					</div>
					<div class="dino-start-btn"><a href="#" class="btn">start game</a></div>
				</div>
				<div class="third-text-an an js-hide"><h3>Get ready - Text</h3></div>
			</div>
		</div>
	</div>
	<div class="dino-game js-hide">
		<div class="dino-game-img">
			<div class="dino-game-img-dino">
				<img src="img/dino.png" alt="" />
			</div>
		</div>
		<div class="dino-game-img-bottle">
			<div class="dino-game-img-inner js-off">
				<img src="img/Piece14.png" alt="" />
			</div>
			<div class="dino-game-img-inner js-off">
				<img src="img/Piece13.png" alt="" />
			</div>
			<div class="dino-game-img-inner js-off">
				<img src="img/Piece12.png" alt="" />
			</div>
			<div class="dino-game-img-inner js-off">
				<img src="img/Piece11.png" alt="" />
			</div>
			<div class="dino-game-img-inner js-off">
				<img src="img/Piece10.png" alt="" />
			</div>
			<div class="dino-game-img-inner js-off">
				<img src="img/Piece09.png" alt="" />
			</div>
			<div class="dino-game-img-inner js-off">
				<img src="img/Piece08.png" alt="" />
			</div>
			<div class="dino-game-img-inner js-off">
				<img src="img/Piece07.png" alt="" />
			</div>
			<div class="dino-game-img-inner js-off">
				<img src="img/Piece06.png" alt="" />
			</div>
			<div class="dino-game-img-inner js-off">
				<img src="img/Piece05.png" alt="" />
			</div>
			<div class="dino-game-img-inner js-off">
				<img src="img/Piece04.png" alt="" />
			</div>
			<div class="dino-game-img-inner js-off">
				<img src="img/Piece03.png" alt="" />
			</div>
			<div class="dino-game-img-inner js-off">
				<img src="img/Piece02.png" alt="" />
			</div>
			<div class="dino-game-img-inner js-off">
				<img src="img/Piece01.png" alt="" />
			</div>
		</div>
		<div class="dino-game-btn">
			<a href="#" class="btn">Click to jump</a>
		</div>
	</div>
	<div class="end js-hide">
		<h2>This is game over man</h2>
	</div>
</div>
