<div class="jump-block">
	<div class="dino-start">
		<div class="dino-start-img bounceInRight an">
			<img src="img/dino-preload.png" alt="">
		</div>
		<div class="dino-start-bm">
			<div class="firs-text an slideInUp">
				<h3>Some First - Text</h3>
			</div>
			<div class="second-text js-hide">
				<div class="second-text-an an">
					<h3>Then Second - Text</h3>
					<p>Some paragraph text</p>
				</div>
				<div class="dino-start-btn"><a href="#" class="btn">start game</a></div>
			</div>
		</div>
	</div>
</div>