<footer id="footer">
	<div class="container">
		<div style="text-align: center;color: red;padding: 50px 0;background-color: #ccc">В разработке FOOTER</div>
	</div>
</footer>
<!-- wp-test-page-admin-bar include start-->
//= wp-test-page-admin-bar.html
<!-- wp-test-page-admin-bar include end-->
<!-- loading JS Start -->
<script src="js/jquery-3.2.1.min.js" defer></script>
<script src="js/jquery.main.js" defer></script>
<!-- loading JS End -->
<!--<Deject>-->
<!--Removing zone start -->
<link rel="stylesheet" href="css/development.css">
<div class="dev-scripts-block">
	//= ../../dev/template/responsive-breakpoint.html
	//= ../../dev/template/scroll-up-down.html
	//= ../../dev/template/fast-navigation.html
</div>
//= ../../dev/template/button-all-off.html
<script src="js/development.js" defer></script>
<!--Removing zone end -->
<!--</Deject>-->
</body>
</html>