body {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	min-height: 2000px;

}
div  {
	padding: 10px;
	margin: 15px;
}
button {
	background-color: #ccc;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	border: none;
	margin: 0 auto;
	cursor: pointer;
	font-size: 25px;
	color: #000;
}
.button-del, .button-del2 {
	background-color: red;
	margin-left: 40px;
}
button:focus { outline: 0; }