<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>my testing work</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="js/main.js"></script>
</head>
<body>
  <div class="wraper">
    <div class="header">
      <h1 class="logo">
        <a href="index.html">Prechu</a>
      </h1>
      <nav class="nav">
        <ul>
          <li> <a href="#">Home</a></li>
          <li class="active"><a href="#">Products</a></li>
          <li> <a href="#">Services</a></li>
          <li> <a href="#">Contact</a></li>
        </ul>
      </nav>
     <nav class="burger">
     <a href="#" class="burger__button" id="burger-button">
     <span class="burger__button__icon"></span>
     </a>
     <ul class="burger__menu">
     <li><a href="#">Home</a></li>
     <li class="active"><a href="#">Products</a></li>
     <li><a href="#">Services</a></li>
     <li><a href="#">Contact?</a></li>
     </ul>
     </nav>
    </div>