.box {
  width: 940px;
  margin: 0 auto;
}
.header {
  height: 412px;
  padding: 21px;
  background: #27ae60;
}
.header1 {
  height: 300px;
  padding: 21px;
  background: #27ae60;
}
.logo {
  float: left;
  margin-left: 50px;
}
.navigation {
  float: right;
  margin: 0;
  margin-right: 60px;
  padding: 0;
}
.navigation li {
  display: inline-block;
}
.navigation li a {
  padding-left: 18px;
  text-decoration: none;
  color: #f9f9f9;
}
.navigation a:hover ,
.navigation .active a {
  text-decoration: none;
  color: #252525;
}
body {
  font-family: "Lato",
  sans-serif;
  background-color: #bdc3c7;
}
h1 {
  font-size: 40px;
  font-weight: 400;
  margin-top: 185px;
  margin-bottom: 70px;
  text-align: center;
  color: #f9f9f9;
}
.qq {
  font-weight: 100;
}
.ww {
  font-size: 17px;
  line-height: 50px;
  display: block;
  width: 240px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: #f9f9f9;
  border: 0;
  border-radius: 8px;
  background: #2ecc71;
}
.ww:hover {
  text-decoration: none;
  color: #737373;
  background-color: #69dd9a;
}
.rr {
  font-size: 25px;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;
  background: url(image/gorka.png) no-repeat center bottom;
}
.content {
  text-align: center;
  background: #ecf0f1;
}
.zz {
  font-size: 25px;
  padding-top: 80px;
  padding-bottom: 30px;
}
.tab img {
  padding: 20px;
}
.ee {
  font-size: 13px;
  line-height: 35px;
  margin: 0 auto;
  padding: 10px 80px 10px 80px;
  text-align: center;
  text-decoration: none;
  color: #989a9a;
  border: 2px solid#989a9a;
  border-radius: 8px;
}
.ee:hover {
  text-decoration: none;
  color: #ecf0f1;
  background-color: #989a9a;
}
.tab {
  padding-bottom: 60px;
}
.ss {
  font-size: 25px;
  padding-top: 140px;
  color: #989a9a;
}
.tab2 img {
  margin: 0;
  padding-top: 50px ;
  padding-bottom: 80px;
}
.nogi {
  padding: 40px 60px ;
  color: #838383;
  background-color: #444;
}

.nogi img {
  vertical-align: middle;
}
.yy  a {
  font-size: 12px;
  margin: 0 ;
  padding-top: 8px;
  padding-left: 30px;
  text-decoration: none;
  color: #f9f9f9;
}
.yy  a:hover {
  text-decoration: underline;
}
.yy li {
  display: inline-block;
}
.rq {
  font-size: 12px;
  float: right;
  padding-top: 8px;
  color: #f9f9f9;
}
.q1 {
  background: url(image/p9.jpg) no-repeat left center;
}
.q2 {
  background: url(image/p10.jpg) no-repeat left center;
}
.q3 {
  background: url(image/p11.jpg) no-repeat left center;
}
.www {
  overflow: hidden;
}
.www ul {
  float: left;
  margin: 0;
}

/*work*/

.content1 {
  min-height: 500px;
  padding: 120px 100px 20px;
  background-color: #ecf0f1;
}
.works-grid {
  margin-right: -10px;
  margin-left: -10px;
}
.work-item {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding-right: 9px;
  padding-left: 9px;
}
.work-description {
  position: absolute;
  top: 20px;
  right: 29px;
  bottom: 20px;
  left: 29px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  opacity: 0;
  background-color: rgba(149, 165, 166, 0.9);
}
.work-description span {
  font-size: 19px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: capitalize;
  color: #f9f9f9;
  border-bottom: 1px solid #f9f9f9;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
.work-description:hover {
  opacity: 1;
}

/* BLOG */


.blog-page .post-list li {
  list-style: none;
}
.blog-page .post-list li  a {
  text-decoration: none;
  color: #444;
}
.blog-page .post-list li a:hover {
  text-decoration: underline;
  color: #444;
}



/*ABOUT*/


.content2 {
  min-height: 500px;
  padding: 0 160px 60px;
  background-color: #ecf0f1;
}
.content2 h2 {
  font-size: 25px;
  font-weight: 400;
  margin-right: -100px;
  margin-bottom: 20px;
  margin-left: -100px;
  padding-top: 0;
  text-align: center;
}
.see-my-work {
  font-size: 12px;
  font-weight: 700;
  line-height: 26px;
  display: block;
  width: 140px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
  background-color: #2ecc71;
}
.see-my-work:hover {
  text-decoration: none;
  color: #737373;
  background-color: #69dd9a;
}
body {
  font-family: "Lato", sans-serif;
  background: #bdc3c7;
}
.container {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 20px;
  background: #ecf0f1;
}
h3 {
  font-size: 24px;
  text-align: center;
  color: #444;
}
.tools-row {
  text-align: center;
}
.tool-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 133px;
  height: 133px;
  border-radius: 50%;
}
.tool-item + .tool-item {
  margin-left: 20px;
}
.tool-description {
  line-height: 113px;
  position: absolute;
  top: 133px;
  left: 0;
  width: 113px;
  transition: all 0.5s ease;
  text-align: center;
  color: #fff;
  border: 10px solid rgba(39,174,97,0.8);
  border-radius: 50%;
  background-color: rgba(149,165,166,0.8);
}
.tool-item:hover .tool-description {
  top: 0;
}



/*CONTACT*/
.content2 {
  min-height: 500px;
  padding: 100px 160px 30px;
  background-color: #ecf0f1;
}
.content2 h2 {
  font-size: 25px;
  font-weight: 400;
  width: 620px;
  margin-right: auto;
  margin-bottom: 55px;
  margin-left: auto;
  text-align: center;
}
.content2 p {
  font-size: 16px;
  width: 635px;
  margin-bottom: 70px;
}
#google-map {
  width: 620px;
  height: 300px;
}
.gm-style-iw * {
  display: block;
  width: 100%;
}
.gm-style-iw h4 ,
.gm-style-iw p {
  margin: 0;
  padding: 0;
}
.gm-style-iw a {
  color: #4272db;
}
.sidebarL {
  float: left;
}
.form input ,
textarea {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 41px;
  width: 422px;
  margin-bottom: 13px;
  padding-left: 13px;
  resize: none;
  color: #a2a2a2;
  border: 1px solid #c6c8c9;
  background: #ecf0f1;
}
.contact-form [type=submit] {
  line-height: 24px;
  width: 150px;
  padding: 5px 8px 6px 8px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: 0 solid transparent;
  border-radius: 5px;
  background-color: #95a5a6;
}
.contact-form [type=submit]:hover {
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  color: #ddd;
  background-color: #b1bdbd;
}
.sidebarR h3 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #717272;
}
.sidebarR p {
  font-size: 14px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  display: inline-block;
  width: 130px;
  padding-bottom: 55px;
  padding-left: 30px;
  color: #717272;
}
.navigation li .active {
  color: #000;
}
.rq a {
  color: #cd4;
}