.wrapper {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow-x: hidden;
}
.wrapper-background {
	background-color: #C2E9F8;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.top {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
}

.an-l {
	@extend %a;
	left: 0%;
}

.an-r {
	@extend %a;
	right: 0%;
}

.an-s {
	@extend %a;
	right: 0%;
	top: 0px;
	z-index: -1;
	transform: translate(-50%,-50%);
}

.sun {
	width: 105px;
	height: 105px;
	border-radius: 50%;
	background-color: #FFF8A7;
}
.cloud {
	top: 50px;
}

.cloud1 {
	top: 120px;
}

.cloud2 {
	top: 150px;
}

.cloud3 {
	top: 170px;
}

.cloud4 {
	top: 220px;
}

.cloud-r {
	top: 240px;
}

.cloud1-r {
	top: 130px;
}

.cloud2-r {
	top: 70px;
}

.cloud3-r {
	top: 190px;
}

.cloud4-r {
	top: 280px;
}


.mount {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	bottom: -170px;
	max-height: 300px;
	z-index: 9;

	&>img {
		margin-left: -45px;
		margin-right: -45px;
	}
}

.mount1 {
	padding-bottom: 50px;
}

.mount2 {
	padding-bottom: 150px;
}

.mount3 {
	padding-bottom: 50px;
}

.mount4 {}


.knoll {
	position: relative;
	z-index: 10;

	img {
		max-width: 100%;
		display: block;
	}
}

%a {
	position: absolute;
}

.tree-img {
	@extend %a;
	bottom: 0px;
	left: 170px;

}

.tree-big-img {
	@extend %a;
	left: 50px;
	bottom: 0px;

}

.tree-img-1 {
	@extend %a;
	bottom: 0px;
	right: 100px;
	z-index: 1;
}

.tree-big-img-1 {
	@extend %a;
	right: -50px;
	bottom: 0px;
}

.bush1-img {
	@extend %a;
	right: -20px;
	bottom: 20px;
}

.knoll-img {
	width: 100%;
	max-width: 100%;
}

.road {
	z-index: 11;
	position: relative;
	min-height: 95px;
	background-color: #A08E8C;
}

.bottom {
	z-index: 12;
	min-height: 35px;
	background-color: #9CC53B;
	position: relative;

	.bush {
		@extend %a;
		left: 40px;
		bottom: 0px;
	}

	.bush1 {
		@extend %a;
		left: 120px;
		bottom: 0px;
	}
}

.car-block {
	@extend %a;
	display: inline-flex;
	align-items: center;
	left: 0%;
	bottom: 10px;
	z-index: 2;
}

.smoke {
	padding-bottom: 20px;
	transform-origin: right center;
}

.car {}

.stone1 {
	@extend %a;
	top: 10px;
	right: 15%;
}

.stone2 {
	@extend %a;
	bottom: 20px;
	left: 25%;
}
.ufo {
	position: absolute;
	bottom: 20px;
	right: 0;
	z-index: 9;
}
html svg.rocket-svg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 40%;
	height: auto;
	overflow: visible;
}
.rocket2 {
  transform-box: fill-box;
  offset-anchor: 50% 50%;
  /*   if offset anchor isn't supported we can use transform-origin instead */
  transform-origin: 50% 50%;
  offset-rotate: auto;
  offset-path: path('M20.2 679.7c210.3-19.1 398.9-219.6 236.5-257.5-170.5-16.8-132.5 146.2-6.8 184.7 141.6 55.7 242.3-9.9 215.3-89.3-43.7-94-330-292-85-347.3 135.5-18.7 251 54.7 302.9 141.5 50.2 85 25.5 183.8 136.6 248.6C1000 627 1037.7 427 1039 395.7c20.3-196.6-133.8-218-199.5-170s-11.3 138.5 107 114S1126.7 147.6 1092.6 67c-2.4-12.2-1.4-23.1 9.2-31.8 100.8-49.4 112.2 198.4 239-23.8');
  animation: move 10s infinite linear;
}

@keyframes move {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}
//  animation
#rigth-wheel {
	animation: wheelRight 2s linear infinite;
	animation-delay: 500ms;
	transform-origin: center;
	transform-box: fill-box;
}

#left-wheel {
	animation: wheelLeft 2s linear infinite;
	transform-origin: center;
	transform-box: fill-box;
}


@-webkit-keyframes wheelRight {
	from {
		-webkit-transform: translate(0px, 0px) rotateZ(0deg);
		transform: translate(0px, 0px) rotateZ(0deg);

	}

	50% {
		-webkit-transform: translate(3px, -6px) rotateZ(180deg);
		transform: translate(3px, -6px) rotateZ(180deg);
	}

	to {
		-webkit-transform: translate(0px, 0px) rotateZ(360deg);
		transform: translate(0px, 0px) rotateZ(360deg);
	}
}

@keyframes wheelRight {
	from {
		-webkit-transform: translate(0px, 0px) rotateZ(0deg);
		transform: translate(0px, 0px) rotateZ(0deg);

	}

	50% {
		-webkit-transform: translate(3px, -6px) rotateZ(180deg);
		transform: translate(3px, -6px) rotateZ(180deg);
	}

	to {
		-webkit-transform: translate(0px, 0px) rotateZ(360deg);
		transform: translate(0px, 0px) rotateZ(360deg);
	}
}

@-webkit-keyframes wheelLeft {
	from {
		-webkit-transform: translate(0px, 0px) rotateZ(0deg);
		transform: translate(0px, 0px) rotateZ(0deg);

	}

	50% {
		-webkit-transform: translate(6px, -3px) rotateZ(180deg);
		transform: translate(6px, -3px) rotateZ(180deg);
	}

	to {
		-webkit-transform: translate(0px, 0px) rotateZ(360deg);
		transform: translate(0px, 0px) rotateZ(360deg);
	}
}

@keyframes wheelLeft {
	from {
		-webkit-transform: translate(0px, 0px) rotateZ(0deg);
		transform: translate(0px, 0px) rotateZ(0deg);

	}

	50% {
		-webkit-transform: translate(6px, -3px) rotateZ(180deg);
		transform: translate(6px, -3px) rotateZ(180deg);
	}

	to {
		-webkit-transform: translate(0px, 0px) rotateZ(360deg);
		transform: translate(0px, 0px) rotateZ(360deg);
	}
}




#svg {
  overflow: visible;
	height: auto;
	fill: #ccc;
	position: absolute;
	bottom: calc(-100vh + 200px);
	left: 0;
	right: 0;
	 /* Fix Safari rendering bug */
  transform: translateZ(0);
}

path {
  // stroke-width: 2;
  // stroke: gray;
}
