//-----import media mixins
@import 'base/variables';
@import "base/fonts";
@import "vendors/include-media";
@import 'vendors/normalize';
@import "base/mixins";
@import "base/button";
@import 'base/helpers';
@import 'base/forms';
@import 'base/typography';
//-----module greensock style
@import "vendors/greensock";

//
.main-section {
	// display: none;
	z-index: 2;
}

//keyframes
@keyframes its-my-unic-animation-i-not-copy {
	0%,
	100% {
		top: 30px
	}

	50% {
		top: -30px
	}
}

@keyframes bottom-to-top {
	0% {
		bottom: 0%;
		transform: translateY(100%);
	}

	100% {
		bottom: 100%;
		transform: translateY(0%);
	}
}
.animation-btt {
	animation: bottom-to-top 2.3s linear forwards;
}
.firework-item {

	cursor: pointer;
}

// common
.js-hidden {
	display: none;
	&.js-hidden-off {
		display: block;
	}
}
.js-hidden2 {
	display: none;
	&.js-hidden2-off {
		display: block;
	}
}
.bg-stretch {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;

	img {
		width: 100%;
		max-width: none;
		height: 100%;
		object-fit: cover;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.main {
	position: relative;
	z-index: 2;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.title-block {
	padding-top: 80px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.title-img {
	text-align: center;
}

.btn-wrapper {
	text-align: center;
	margin-top: auto;
	padding-top: 20px;
	padding-bottom: 50px;
}

.btn-start {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	img {
		position: relative;
		z-index: 2;
		animation: its-my-unic-animation-i-not-copy 6s linear infinite;
	}

	.btn {
		margin-top: 40px;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
			width: 8px;
			height: 100px;
			background: linear-gradient(to right, #6a4f3d 0, #b18c5d 100%);
			;
		}
	}
}

.second-section {
}

.second-count {
	position: absolute;
	top: 20px;
	left: 30px;
	@include size(60px, 68px);
	font-size: 20px;
	background-image: url("../img/ico02.png");
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		padding-top: em(10px, 20px);
	}
}
#slider {
	position: absolute;
	height: 8px;
	top: calc(100% - 8px);
	left: 0;
	background: linear-gradient(to right, red 15%, orange  25%, yellow  35%, green  50%, blue  65%, indigo 80%, violet 100%);
	width: 100%;
}
.second-amount {
	position: absolute;
	top: 40px;
	right: 30px;
	font-size: 30px;
	display: flex;
	align-items: center;

	&:before {
		content: "";
		display: inline-block;
		@include size(54px, 45px);
		margin-right: 10px;
		background-image: url("../img/ico01.png");
		background-repeat: no-repeat;
		background-size: contain;
	}
}
.firework-block {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.firework-item {
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translateY(100%);
}
.result-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
}
.result {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
		h2 {
		font-size: rem(50px);
		line-height: 1;
		margin-bottom: 10px;
	}
}
.result-amount {
	text-align: center;
	font-size: rem(30px);

	span {
		color: red;
		font-size: rem(40px);
	}
}
.result-btn {
	margin-top: 20px;
}