<div class="block-item cheese"data-veg="cheese"><img src="img/cheese.jpg" alt="img"></div>
<div class="block-item bob" data-veg="bob"><img src="img/bob.jpg" alt="img"></div>
<div class="block-item onion" data-veg="onion"><img src="img/onion.jpg" alt="img"></div>
<div class="block-item tomato" data-veg="tomato"><img src="img/tomato.jpg" alt="img"></div>
<div class="block-item burger" data-veg="burger">
	<div class="block-staffing">
		<img class="" src="img/burger.jpg" alt="img">
		<img data-veg="salat" class="staffing staffing-hide salat" src="img/salat.jpg" alt="img">
		<img data-veg="onion" class="staffing staffing-hide onion" src="img/onion.jpg" alt="img">
		<img data-veg="chicken" class="staffing staffing-hide chicken" src="img/chicken.jpg" alt="img">
		<img data-veg="tomato" class="staffing staffing-hide tomato" src="img/tomato.jpg" alt="img">
		<img data-veg="cucumber" class="staffing staffing-hide cucumber" src="img/cucumber.jpg" alt="img">
		<img data-veg="cheese" class="staffing staffing-hide cheese" src="img/cheese.jpg" alt="img">
		<img data-veg="becon" class="staffing staffing-hide becon" src="img/becon.jpg" alt="img">
		<img data-veg="chips" class="staffing staffing-hide chips" src="img/chips.jpg" alt="img">
		<img data-veg="bob" class="staffing staffing-hide bob" src="img/bob.jpg" alt="img">
	</div>
</div>
<div class="block-item cucumber" data-veg="cucumber"><img src="img/cucumber.jpg" alt="img"></div>
<div class="block-item becon" data-veg="becon"><img src="img/becon.jpg" alt="img"></div>
<div class="block-item chicken" data-veg="chicken"><img src="img/chicken.jpg" alt="img"></div>
<div class="block-item block-btn"><img src="img/btn.jpeg" alt="img" width="200" height="50"></div>
<div class="block-item salat" data-veg="salat"><img src="img/salat.jpg" alt="img"></div>
<div class="block-item chips" data-veg="chips"><img src="img/chips.jpg" alt="img"></div>
<div class="fergit">Fergit</div>
<div class="shayrma">
	<div class="shayrma-img"><img src="img/shayrma.jpg" alt="img"></div>
	<a href="#" class="btn btn-dark">Buy shayrma</a>
</div>