<div class="main-section">
	<div class="title-block">
		<h1>Einfach auf die vorbeifliegenden Raketen klicken und knallen lassen!</h1>
		<h2>Du hast 30 Sek Zeit!</h2>
		<div class="title-img">
			<img src="img/img04.png" alt="title-img">
		</div>
	</div>
	<div class="btn-wrapper">
		<div class="btn-start">
			<img src="img/img02.png" alt="firework">
			<a href="#" class="btn btn-outline">Jetzt spielen</a>
		</div>
	</div>
</div>

<div class="second-section js-hidden">
	<div class="second-count"><span id="output">30</span></div>
	<div class="second-amount"><span>0</span></div>
</div>

<div class="result-wrapper">
	<div class="result js-hidden2">
		<h2>Super gemacht!</h2>
		<div class="result-amount">Dein Score: <span>20</span></div>
		<div class="result-btn"><a href="#" class="btn">Buy this firework</a></div>
	</div>
</div>

<div class="firework-block js-hidden">
	<div class="firework-item">
		<img src="img/img03.png" alt="firework">
	</div>
</div>
<div id="slider" class="js-hidden"></div>