@font-face {
    font-family :"PT Sans";
    font-weight :400;
    font-style :normal;
    src :local("PT Sans"), local("PTSans-Regular"), url(http://fonts.gstatic.com/s/ptsans/v8/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");

    unicode-range :U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family :"PT Sans";
    font-weight :400;
    font-style :normal;
    src :local("PT Sans"), local("PTSans-Regular"), url(http://fonts.gstatic.com/s/ptsans/v8/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format("woff2");

    unicode-range :U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family :"PT Sans";
    font-weight :400;
    font-style :normal;
    src :local("PT Sans"), local("PTSans-Regular"), url(http://fonts.gstatic.com/s/ptsans/v8/9kaD4V2pNPMMeUVBHayd7vY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");

    unicode-range :U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family :"PT Sans";
    font-weight :400;
    font-style :normal;
    src :local("PT Sans"), local("PTSans-Regular"), url(http://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2) format("woff2");

    unicode-range :U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
    font-family :"PT Sans";
    font-weight :700;
    font-style :normal;
    src :local("PT Sans Bold"), local("PTSans-Bold"), url(http://fonts.gstatic.com/s/ptsans/v8/kTYfCWJhlldPf5LnG4ZnHCEAvth_LlrfE80CYdSH47w.woff2) format("woff2");

    unicode-range :U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family :"PT Sans";
    font-weight :700;
    font-style :normal;
    src :local("PT Sans Bold"), local("PTSans-Bold"), url(http://fonts.gstatic.com/s/ptsans/v8/g46X4VH_KHOWAAa-HpnGPiEAvth_LlrfE80CYdSH47w.woff2) format("woff2");

    unicode-range :U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family :"PT Sans";
    font-weight :700;
    font-style :normal;
    src :local("PT Sans Bold"), local("PTSans-Bold"), url(http://fonts.gstatic.com/s/ptsans/v8/hpORcvLZtemlH8gI-1S-7iEAvth_LlrfE80CYdSH47w.woff2) format("woff2");

    unicode-range :U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family :"PT Sans";
    font-weight :700;
    font-style :normal;
    src :local("PT Sans Bold"), local("PTSans-Bold"), url(http://fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");

    unicode-range :U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
    font-family :"PT Sans";
    font-weight :400;
    font-style :italic;
    src :local("PT Sans Italic"), local("PTSans-Italic"), url(http://fonts.gstatic.com/s/ptsans/v8/GpWpM_6S4VQLPNAQ3iWvVRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");

    unicode-range :U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family :"PT Sans";
    font-weight :400;
    font-style :italic;
    src :local("PT Sans Italic"), local("PTSans-Italic"), url(http://fonts.gstatic.com/s/ptsans/v8/7dSh6BcuqDLzS2qAASIeuhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");

    unicode-range :U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family :"PT Sans";
    font-weight :400;
    font-style :italic;
    src :local("PT Sans Italic"), local("PTSans-Italic"), url(http://fonts.gstatic.com/s/ptsans/v8/DVKQJxMmC9WF_oplMzlQqRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");

    unicode-range :U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family :"PT Sans";
    font-weight :400;
    font-style :italic;
    src :local("PT Sans Italic"), local("PTSans-Italic"), url(http://fonts.gstatic.com/s/ptsans/v8/PIPMHY90P7jtyjpXuZ2cLFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");

    unicode-range :U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
    font-family :"PT Sans";
    font-weight :700;
    font-style :italic;
    src :local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url(http://fonts.gstatic.com/s/ptsans/v8/lILlYDvubYemzYzN7GbLkK-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");

    unicode-range :U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family :"PT Sans";
    font-weight :700;
    font-style :italic;
    src :local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url(http://fonts.gstatic.com/s/ptsans/v8/lILlYDvubYemzYzN7GbLkJX5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");

    unicode-range :U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family :"PT Sans";
    font-weight :700;
    font-style :italic;
    src :local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url(http://fonts.gstatic.com/s/ptsans/v8/lILlYDvubYemzYzN7GbLkD0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");

    unicode-range :U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family :"PT Sans";
    font-weight :700;
    font-style :italic;
    src :local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url(http://fonts.gstatic.com/s/ptsans/v8/lILlYDvubYemzYzN7GbLkOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2");

    unicode-range :U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    font-size :100%;
    margin :0;
    padding :0;
    vertical-align :baseline;
    border :0;
    outline :0;
    background :transparent;
}
body {
    line-height :1;
}ol,
ul {
    list-style :none;
}
blockquote,
q {
    quotes :none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content :"";
    content :none;
}

/* remember to define focus styles! */
:focus {
    outline :0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration :none;
}
del {
    text-decoration :line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-spacing :0;
    border-collapse :collapse;
}
/*--------------------------------new-----------------------------------*/

body {
    background : #e4ccba url(img/fon.png) repeat;
    background:
linear-gradient(45deg, #e4ccba 45px, transparent 45px)64px 64px,
linear-gradient(45deg, #e4ccba 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
linear-gradient(-45deg, #e4ccba 23px, transparent 23px, transparent 68px,#e4ccba 68px,#e4ccba 113px,transparent 113px,transparent 158px,#e4ccba 158px);
background-color:#e1ebbd;
background-size: 128px 128px;
}
body {
    font-family :"PT Sans", sans-serif;
    font-size :16px;
    width :auto;
    min-width :960px;
    height :100%;
}

a {
    text-decoration :none;
}

.right {
    float :right;
}

.left {
    float :left;
}

.clr {
    clear :both;
}
.outer_wrapper {
    overflow :hidden;
}
.wrapper {
    overflow :hidden;
    width :960px;
    margin :0 auto;
}

.top_menu {
    position :fixed;
    z-index :99;
    width :100%;
    padding :10px;
    background :#494b5e;
}
.footer {
    padding :10px;
    background :#494b5e;
}
.top_menu ul {
    display :inline-block;
    padding-left :70px;
    text-align :center;
}

.top_menu li {
    display :inline-block;
    margin :0 30px;
}

.top_menu li a {
    font-size :16px;
    line-height :41px;
    text-transform :uppercase;
    color :#e4e4e5;
}
h1 {
    font-size :20px;
    line-height :20px;
    overflow :hidden;
    margin :40px 0 40px 100px;
    padding :7px 0 19px 82px;
    text-transform :uppercase;
    color :#4a4b5f;
    background :url(img/h1_bg.png) left no-repeat;
}

h1 i {
    position :relative;
    position :relative;
    display :inline-block;
    width :100%;
    height :3px;
    margin :0 -100% 0 8px;
    vertical-align :middle;
    background :#4a4b5f;
}

.double_line {
    height :3px;
    margin :40px 0 40px 334px;
    border-top :3px solid #484b5e;
    border-bottom :6px solid #484b5e;
}

#about {
    line-height :18px;
    padding-top :65px;
    color :#8b4515;
}

#about .img {
    overflow :visible;
    width :235px;
    height :315px;
    margin-bottom :40px;
    padding :17px 0 0 17px;
    background :#a0a2b1;
}

#about .img img {
    width :250px;
    height :331px;
    border :1px solid #494a5e;
}

#about .text {
    line-height :20px;
    width :626px;
    margin-left :334px;
    text-align :justify;
}

#about .text ol,
#about .text ul {
    padding-left :30px;
}
#about .text ol li {
    list-style-position :outside;
    list-style-type :decimal;
}
.about ul li {
    list-style-position :outside;
    list-style-type :disc;
}

#about p {
    margin-top :10px;
}

#about b,
#about strong,
#about h2 {
    color :#342219;
}

#about h2 {
    font-size :20px;
    line-height :20px;
    margin-bottom :49px;
}

#rules {
    overflow :hidden;
}

#rules li {
    line-height :18px;
    float :left;
    width :285px;
    margin :0 0 15px 50px;
    text-align :center;
    color :#8b4515;
}

#rules li.clr {
    margin-left :0;
}

#rules li h2 {
    font-size :20px;
    padding :15px 0 10px 0;
    text-align :center;
    text-transform :uppercase;
    color :#494b5e;
}

#rules li span {
    font-size :20px;
    font-style :italic;
    line-height :48px;
    display :block;
    width :48px;
    height :48px;
    margin :0 auto;
    text-align :center;
    color :#fff;
    -webkit-border-radius :24px;
       -moz-border-radius :24px;
            border-radius :24px;
    background :#494b5e;
}

#folio {
    /*  background: #fff;*/
    overflow :hidden;
}

#folio .album_titles {
    display :inline-block;
    float :right;
    margin-bottom :40px;
}

#folio .album_titles li {
    font-size :20px;
    font-style :italic;
    display :inline-block;
    margin-left :30px;
    cursor :pointer;
    text-transform :uppercase;
}

#folio .album_titles li:hover,
#folio .album_titles li.active {
    text-decoration :underline;
}



#folio .album {
    display :none;
    clear :both;
}

#folio .album .work {
    position :relative;
    overflow :hidden;
    width :310px;
    height :353px;
    margin :0 0 15px 15px;
}

#folio .album .work .img {
    line-height :0;
    position :relative;
    margin-bottom :-353px;
}

#folio .album .work .img img {
    width :308px;
    height :351px;
    border :1px solid #565869;
}

#folio .album .work .description {
    position :relative;
    z-index :2;
    display :table-cell;
    width :290px;
    height :353px;
    padding :0 10px;
    vertical-align :middle;
    opacity :0;
    color :#fff;
    background :rgba(0,0,0,0.8);
}

#folio .album .work .description a.work_link {
    position :absolute;
    top :0;
    left :0;
    display :block;
    width :100%;
    height :100%;
}

#folio .album .work:hover .description {
    -webkit-transition :opacity 1s ease-out 0s;
       -moz-transition :opacity 1s ease-out 0s;
         -o-transition :opacity 1s ease-out 0s;
            transition :opacity 1s ease-out 0s;
    opacity :1;
}

#folio .album .work.clr {
    margin-left :0;
}

#folio .album.active {
    display :block;
}

#form {
    overflow :hidden;
    padding-bottom :50px;
    border-bottom :40px solid #494b5e;
}

#form table {
    position :relative;
}

#form table td.label {
    font-size :20px;
    font-style :italic;
    line-height :22px;
    width :260px;
    padding :0 14px;
    padding-top :4px;
    text-align :right;
    vertical-align :top;
    text-transform :uppercase;
}

#form table td.label a {
    font-size :14px;
    line-height :94px;
    position :absolute;
    bottom :0;
    left :88px;
    display :block;
    width :94px;
    height :94px;
    text-align :center;
    color :#fff;
    -webkit-border-radius :47px;
       -moz-border-radius :47px;
            border-radius :47px;
    background :#494b5e;
}

#form table td input[type="text"],
#form table td textarea {
    font-family :"fs";
    font-style :italic;
    width :435px;
    height :22px;
    margin-bottom :17px;
    padding :0 10px;
    border :1px solid #494b5e;
    background :transparent;
}

#form table td textarea {
    height :207px;
    margin-bottom :0;
    resize :none;
}

.footer {
    font-size :16px;
    line-height :21px;
    padding :10px;
    color :#e4e4e5;
}
.footer .copyright {
    width :350px;
    text-align :right;
}

.inner {
    overflow :hidden;
    padding :30px 0;
    background :#fff;
}
.inner .left_menu {
    width :170px;
    padding :5px 15px 15px 5px;
    border-right :1px solid #ccc9c9;
}
.inner .left_menu li a {
    font-size :16px;
    font-weight :bold;
    display :block;
    margin-bottom :10px;
    text-transform :uppercase;
    color :#494b5e;
}
.inner .left_menu li a:hover {
    text-decoration :underline;
}
.inner .java_blog {
    font-size :16px;
    line-height :20px;
    width :755px;
    text-align :justify;
    color :#737373;
}
.inner .java_blog h1 {
    font-size :20px;
    margin :0 0 20px 0;
    text-transform :uppercase;
    color :#342219;
}
.inner .java_blog p {
    margin-bottom :10px;
}
.inner .java_blog h2 {
    margin-bottom :15px;
}
.inner .java_blog h2 a {
    font-size :14px;
    text-transform :uppercase;
    color :#494b5e;
}
.inner .java_blog h2 a:hover {
    border-bottom :1px solid #494b5e;
}

.copyright {
    padding :10px;
}
/*----------------------------test--------------------------------*/
.none {
    display :none;
}
.hover {
    display :inline-block;
    margin :-40px;
}
#nav-two audio {
    display :none;
}
/*-----------------animate-css-3-efect-hover-------------------*/

.top_menu li a:hover {
    -webkit-animation-name :rubberBand;
            animation-name :rubberBand;
}
.link-resume:hover {
    -webkit-animation-name :rubberBand;
            animation-name :rubberBand;
}
.top_menu .item-105 > a:hover {
    cursor :default;
    -webkit-animation-name :bounceOutRight;
            animation-name :bounceOutRight;
}
.none {
    font-size :16px;
    line-height :41px;
    margin :-140px;
    text-transform :uppercase;
    color :#e4e4e5;
}
.eff-opasiti {
    opacity :0.5;
}
.contact {
    overflow :hidden;
    margin :20px 0;
}
/*--------------------------for-form-------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor :pointer;
}
.contact-form {
    display :block;
    padding-left :210px;
}
input[type="text"],
input[type="email"],
textarea {
    font-size :14px;
    font-weight :500;
    line-height :1.5;
    display :block;
    width :500px;
    margin-bottom :15px;
    padding :15px;
    color :#000;
    border :2px solid #eef0f5;
    border-radius :3px;
    outline :none;
    background :#eef0f5;
}
textarea {
    width :500px;
    max-width :500px;
    min-height :215px;
    margin-bottom :40px;
    background :#eef0f5;
}
.contact-button {
    padding-left :200px;
}
.form-submit-btn {
    padding :13px 30px;
    color :#fff;
    border :2px solid #d16258;
    border-radius :5px;
    background :#d16258;
}
#folio .btn:hover {
    background:#d1620e ;
}
.p-form {
    display :none;
}
.block {
    display :block;
}

/*-----------------------------------------------*/
#about .work {
    list-style :none;
}
ul > .work {
    position :relative;
    padding-left :15px;
}
ul > .work:before {
    position :absolute;
    left :0;
    width :8px;
    height :8px;
    margin-top :7px;
    content :"";
    border-radius :50%;
    background :#000;
}
ul > .work:hover:before {
    background :#00f;
}
/*------------------bottom-kill-audi-------------------*/

#volume-off {
    display :inline-block;
    width :27px;
    height :27px;
    cursor :pointer;
    vertical-align :middle;
    background-size :contain;
}
.nav2 .volume {
    background-image :url(img/volume.jpg);
}
.volume {
    background-image :url(img/volume-off.jpg);
}

/*-----------------new--efect--------------*/

/*-------------------------cursor-removed--------------------------*/
/*body {cursor: url(img/cur.cur), progress !important;}
a:hover {cursor: url(img/cursor-hover.cur), progress !important;}*/

.project-grid > .work:before {
    width: 0;
    height: 0;
}
.project-grid > .work {
  margin: 0 0 15px 15px;
  padding-left: 0;
}
.project-grid figure {
    margin: 0;
    position: relative;
}
.project-grid figure img {
    max-width: 100%;
    width: 100%;
    display: block;
    position: relative;
    width: 308px;
    height: 351px;
    -moz-transition:  all 0.4s;
    -o-transition:  all 0.4s;
    -webkit-transition:  all 0.4s;
    transition:  all 0.4s;

    z-index: 10;
}

.project-grid figcaption {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -moz-transition:  all 0.4s,opacity 0.4s;
    -o-transition:  all 0.4s,opacity 0.4s;
    -webkit-transition:  all 0.4s,opacity 0.4s;
    transition:  all 0.4s,opacity 0.4s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;

}
 .project-item-info {
    width: 100%;
    position: absolute;
    bottom: 5px;
    padding: 30px 20px 50px;
}
 .sub-heading {
    font-size: 22px;
    line-height: 1;
    color: #fff;
}
 .project-item-info p {
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 5px;
    margin: 0 0 10px;
    padding: 20px;
}
 .project-item-info a {
       position: absolute;
    left: 65px;
    bottom: 10px;
    padding: 15px 30px;
    font-size: 1em;
    text-align: center;
    display: block;
    background: #68432d;
    color: #fff;
    border-radius: 5px;
    margin: 0px auto 0px auto;
}
.project-grid figure:hover img {
    -moz-transform: scale(0.4) translate(230px, -262px);
    -ms-transform: scale(0.4) translate(230px, -262px);
    -webkit-transform: scale(0.4) translate(230px, -262px);
    transform: scale(0.4) translate(230px, -262px);
        z-index: 10;
}

.project-grid figure:hover figcaption {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    background: rgba(0,0,0,0.7);
}

