<div class="block-item cheese"><img src="img/cheese.jpg" alt="img"></div>
<div class="block-item bob"><img src="img/bob.jpg" alt="img"></div>
<div class="block-item onion"><img src="img/onion.jpg" alt="img"></div>
<div class="block-item tomato"><img src="img/tomato.jpg" alt="img"></div>
<div class="block-item burger">
	<div class="block-staffing">
	<img class="" src="img/burger.jpg" alt="img">
	<img class="staffing staffing-hide salat" src="img/salat.jpg" alt="img">
	<img class="staffing staffing-hide onion" src="img/onion.jpg" alt="img">
	<img class="staffing staffing-hide chicken" src="img/chicken.jpg" alt="img">
	<img class="staffing staffing-hide tomato" src="img/tomato.jpg" alt="img">
	<img class="staffing staffing-hide cucumber" src="img/cucumber.jpg" alt="img">
	<img class="staffing staffing-hide cheese" src="img/cheese.jpg" alt="img">
	<img class="staffing staffing-hide chips" src="img/chips.jpg" alt="img">
	<img class="staffing staffing-hide bob" src="img/bob.jpg" alt="img">
	</div>
</div>
<div class="block-item cucumber"><img src="img/cucumber.jpg" alt="img"></div>
<div class="block-item becon"><img src="img/becon.jpg" alt="img"></div>
<div class="block-item chicken"><img src="img/chicken.jpg" alt="img"></div>
<div class="block-item block-btn"><a href="#" class="btn">Back one step</a></div>
<div class="block-item salat"><img src="img/salat.jpg" alt="img"></div>
<div class="block-item chips"><img src="img/chips.jpg" alt="img"></div>