<div class="responsive-breakpoint">
	<div class="responsive-breakpoint-checkbox">
		<input class="responsive-breakpoint-checkbox__checkbox" type="checkbox" id="responsive-breakpoint-checkbox__checkbox" />
		<label class="responsive-breakpoint-checkbox__label" for="responsive-breakpoint-checkbox__checkbox"></label>
	</div>
	<!-- <div class="responsive-breakpoint__min">MOBILE FIRST</div> -->
	<div class="responsive-breakpoint__max">breakpoint</div>
	<div class="responsive-breakpoint__strictly"></div>
	<div class="responsive-breakpoint__pixel-ratio"></div>
</div>