body {
	background-color: #fff;
	background-image:
		linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
		linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}

.container {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.list {
	padding-left: 0;
	list-style: none;
}

.list li {
	padding: 5px 10px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.list li>* {
	word-wrap: break-word;
	min-width: 70px;
	text-align: center;
}

.add,
.edit,
.remove,
.delete,
.done {
	display: inline-block;
	padding: 5px 5px;
	background-color: tomato;
	cursor: pointer;
	margin-left: 10px;
}

.add {
	background-color: gray;
}

.edit {
	background-color: green;
}

.done {
	margin-right: 10px;
	background-color: yellow;
}

.isCompleate {
	background-color: orange;
}

.list li .text {
	margin-left: 20px;
	text-align: left;
	flex-grow: 1;
}

input:disabled {
	background-color: transparent;
	border-color: transparent;
	outline: none;
}