//
//Variable for button
//
// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;
// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: #000 !default;
$yiq-text-light: #fff !default;
//how much persent darker to do colors when button hover
$button-hover-darken-persent: 15% !default;

//
// function Color contrast (what color to use #000 or #fff)
//

@function color-yiq($color) {
	$r: red($color);
	$g: green($color);
	$b: blue($color);
	$yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

	@if ($yiq >=$yiq-contrasted-threshold) {
		@return $yiq-text-dark;
	}

	@else {
		@return $yiq-text-light;
	}
}

//
// Button variants mixins
//

@mixin button-variant ($background: $fon-brand,
											$color: color-yiq($background),
											$border: $background,
											$hover-background: darken($background, $button-hover-darken-persent),
											$hover-color: color-yiq($hover-background),
											$hover-border: darken($border, $button-hover-darken-persent)) {
	color: $color;
	background-color: $background;
	border-color: $border;

	&:hover {
		color: $hover-color;
		background-color: $hover-background;
		border-color: $hover-border;
	}
}

@mixin button-outline-variant($color: $color-brand,
															$color-hover: color-yiq($color),
															$hover-background: $color,
															$color-border: $color,
															$hover-border: $color-hover) {
	color: $color;
	background-color: transparent;
	background-image: none;
	border-color: $color-border;

	&:hover {
		color: $color-hover;
		background-color: $hover-background;
		border-color: $hover-border;
	}
}

//input mixin without hover
@mixin input-variant ($background: $fon-brand,
											$color: color-yiq($background),
											$border: $background) {
	color: $color;
	background-color: $background;
	border-color: $border;
}

//
// Button sizes mixin
//

@mixin button-size($padding-y:10px, $padding-x:15px, $font-size:16px, $border-radius:0px, $border-width: 1px, $line-height:1.1) {
	padding: $padding-y $padding-x;
	font-size: $font-size;
	border-radius: $border-radius;
	border-width: $border-width;
	line-height: $line-height;
}

//
//-------------------style for button
//

//
// Base styles for button
//

.btn {
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-style: solid;
	transition: all $animation-speed $animation-name;

	//variable located markup-template/scss/base/variables.scss
	//size button mixin
	// $btn-padding-y | $btn-padding-x | $btn-font-size | $btn-radius | $btn-border-width | $btn-line-height
	@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-radius, $btn-border-width, $btn-line-height);
	//color button mixin $background | $color | $border | $hover-background | $hover-color | $hover-border
	@include button-variant($btn-bg-color, $white, $btn-bg-color);

	&:hover {
		text-decoration: none;
	}
}

.btn-dark {
	//color button mixin $background | $color | $border | $hover-background | $hover-color | $hover-border
	@include button-variant(red , $white, red);
}


.btn-outline{
	//color outline-button mixin $color | $color-hover | $hover-background | $color-border | $hover-border
	@include button-outline-variant($white);
}



//
// Link buttons. Make a button look and behave like a link
//

.btn-link {
	color: $color-brand;
	background-color: transparent;
	border-color: transparent;
	transition: all $animation-speed $animation-name;

	&:hover {
		color: darken($color-brand, $button-hover-darken-persent);
		text-decoration: none;
		background-color: transparent;
		border-color: transparent;
	}
}

//
// Block button
//

.btn-block {
	display: block;
	width: 100%;

	// Vertically space out multiple block buttons
	+.btn-block {
		margin-top: 15px;
	}
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
	&.btn-block {
		width: 100%;
	}
}